<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IINVT</title> 
    <script type="importmap"></script>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IINVT.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <style>
        #wrapper {
        display: flex;
        min-height: 100vh;
        }

        #sidebar-wrapper {
        width: 250px;
        min-height: 100vh;
        transition: all 0.3s;
        }

        #page-content-wrapper {
        flex: 1;
        }

        #wrapper.toggled #sidebar-wrapper {
        margin-left: -240px;
        }

        /* Mobile */
        
    </style>

</head>

<body>

    <div class="d-flex" id="wrapper">

        <div id="sidebar-wrapper" class="bg-white text-warning">
            <div class="sidebar-heading p-3 fs-4 fw-bold">
                <i class="fa-solid fa-cart-flatbed"></i> IINVT
            </div>

            <hr/>

            <nav class="sidebar">
                <div class="container-fluid">
                    <ul class="nav flex-column">

                        <!-- Deshboard Menu -->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa-brands fa-windows"></i> Dashboard
                            </a>
                        </li>
                        <!-- Parties Menu -->
                        <li class="nav-item">
                             
                            <a class="nav-link" data-bs-toggle="collapse" href="#partiesMenu" role="button" aria-expanded="false" aria-controls="partiesMenu">
                                <i class="fa-solid fa-users"> </i>  Parties 
                            </a>
                            <div class="collapse" id="partiesMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                            <i class="fa-solid fa-arrow-right-long"></i> Clients
                                         </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="partiesMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Suppliers
                                         </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Items Menu -->
                        <li class="nav-item">

                            <a class="nav-link" data-bs-toggle="collapse" href="#itemsMenu" role="button" aria-expanded="false" aria-controls="itemsMenu">
                                <i class="fa-solid fa-box"></i> Items 
                            </a>
                            <div class="collapse" id="itemsMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                            <i class="fa-solid fa-arrow-right-long"></i> Inventory
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="itemsMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Godown
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="itemsMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Unit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="itemsMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Category
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="itemsMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Batch
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="itemsMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Print Labels
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="itemsMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Import Items
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Sales Menu -->
                        <li class="nav-item">

                            <a class="nav-link" data-bs-toggle="collapse" href="#salesMenu" role="button" aria-expanded="false" aria-controls="salesMenu">
                                <i class="fa-solid fa-cart-shopping"></i> Sales 
                            </a>
                            <div class="collapse" id="salesMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                            <i class="fa-solid fa-arrow-right-long"></i> Sales Invoice
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="salesMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Sales Order
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="salesMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Quatation
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="salesMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> POS
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="salesMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Payment In
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="salesMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Sales Return
                                        </a>
                                    </li> 
                                </ul>
                            </div>
                        </li>
                        <!-- Purchase Menu -->
                        <li class="nav-item">

                            <a class="nav-link" data-bs-toggle="collapse" href="#purchaseMenu" role="button" aria-expanded="false" aria-controls="purchaseMenu">
                                <i class="fa-solid fa-truck"></i> Purchase 
                            </a>
                            <div class="collapse" id="purchaseMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                            <i class="fa-solid fa-arrow-right-long"></i> Invoice
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="purchaseMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Payment Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="purchaseMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Return
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="purchaseMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Order
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Reports Menu -->
                        <li class="nav-item">

                            <a class="nav-link" data-bs-toggle="collapse" href="#reportMenu" role="button" aria-expanded="false" aria-controls="reportMenu">
                                <i class="fa-regular fa-file-lines"></i>  Report 
                            </a>
                            <div class="collapse" id="reportMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                            <i class="fa-solid fa-arrow-right-long"></i> Home
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse" id="reportMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                                            <i class="fa-solid fa-arrow-right-long"></i> Privacy
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- System Menu -->
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="collapse" href="#systemMenu" role="button" aria-expanded="false" aria-controls="systemMenu">
                                <i class="fa-solid fa-gear"></i> System 
                            </a>
                            <div class="collapse" id="systemMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/Profile/ManageUsers">Manage Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/Profile/ManageRoles">Manage Roles</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Logout -->
                        <li class="nav-item mt-3">
                            <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                                <button type="submit" class="nav-link btn btn-link">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper" class="flex-grow-1">

            <!-- Top Navbar -->
            <nav class="navbar navbar-light bg-light border-bottom">

                <div class="container-fluid">

                    <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" id="menu-toggle">
                           <i class="fa fa-angle-double-left"></i>
                    </button>

                </div>

            </nav>

       </div>
      
       <div class="container">
           <main role="main" class="pb-3">
               @RenderBody()
           </main>
       </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="text-align:center; color:orange ">
            &copy; <b>2026 - Comilla University</b> - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>

<script>

    document.getElementById("menu-toggle")
    .addEventListener("click", function () {
    document.getElementById("wrapper")
    .classList.toggle("toggled");
    });
</script>
