@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/img/Inv.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

</style>

<div class="text-center">
    <h1 class="display-4">Inventory Management System</h1>
</div>
